.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.componentContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}